// General styles
$fontFamily: 'Poppins' !important;
$borderBoxShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

// Colors
$black: #000 !default;
$white: #fff !default;
$blueDark: #003049 !default;
$grayLight: #aaaaaa;
$grayLightest: #fafafa !default;
$grayDark: #aaa !default;
$textTitle: #0aaf96;
$textMuted: #c1c1c1 !default;
$grayBorder: #d9d9d9;
$greyMiddle: #ece9e9;
$greenBackground: #05ceb3;
$greenBackgroundLight: #0AAF9633;
$grayBackground: #f5f6f6;
$lightPurple: #d7cff7b2;
$lightBlue: #1CA2E7;
$warning: '#EC7A58';
$redError: #f93232;

$fontSizeNormal: 14px;
$fontSizeSmall: 12px;

$panelPadding: 10px;
